In [1]:
import pandas as pd
import numpy
import sys
import os
import matplotlib 
import matplotlib.pyplot as plt
import missingno as msno
import seaborn as sns

In [3]:
import os
# Add the directory containing data_utils.py to the system path
sys.path.append(os.path.abspath('../scripts')) 
from utils import load_data, merge_data

# Load the datasets
test_data, store_data, sample_submission, train_data = load_data(
    '../data/test.csv', '../data/store.csv', '../data/sample_submission.csv', '../data/train.csv'
)

c:\Users\gtaye\Documents\10Acadamy\week4\scripts\utils.py:9: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  train_data = pd.read_csv(train_file)

In [5]:
# Merge the data
df = merge_data(test_data, store_data, sample_submission, train_data)

# Display the final merged data
df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Id
0,1,5,2015-07-31,5263,555.0,1.0,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN,NaN
1,2,5,2015-07-31,6064,625.0,1.0,1,0,1,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",NaN
2,3,5,2015-07-31,8314,821.0,1.0,1,0,1,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",NaN
3,4,5,2015-07-31,13995,1498.0,1.0,1,0,1,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN,NaN
4,5,5,2015-07-31,4822,559.0,1.0,1,0,1,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN,NaN